/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    background: url(./assets/form-background.png)
}
div{
    background: url(./assets/login-background.png)
}